@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}
header {
    height: auto;
    padding: 30px;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    background-image: linear-gradient(135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%));
}
.container .left{
    width: 100%;
    height: auto;
    padding: 50px 30px 0 30px;
}
.container .right {
    width: 100%;
    height: 300px;
    background-image: url(./images/hero-mobile.jpg);
    background-size: cover;
    background-position: center center;
}
.container .left h1{
    font-size: 3.2rem;
    font-weight: 200;
    text-transform: uppercase;
    color:dimgrey;
    line-height: 3.5rem;
    letter-spacing: .5rem;
}
.container .left h1 span{
    color: hsl(0,6%, 70%) ;
    font-weight: 500;
}
.container .left p{
    max-width: 450px;
    margin: 0 auto;
    color: dimgrey;
    line-height: 1.5rem;
    margin-top: 20px;
    margin-bottom: 40px;
}
.container form{
    position: relative;
    display: block;
    height: 50px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
.container form input{
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50px;
    left: 0;
    top: 0;
    border: 1px solid;
    padding-left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
}
.container form button{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 70px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-image: linear-gradient(135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%));
    box-shadow: 0px 0px 18px 1px hsl(0,6%, 70%);
}

@media only screen and (min-width: 768px) {
    header{
        position: absolute;
        padding-left: 10%;
    }
    header img{
        width: 65px;
    }
    .container {
        flex-direction: row;
        padding-top: 0;
        padding-bottom: 0;
    }
    .container .right{
        width: 80%;
        height: 100vh;
        background-image: url(./images/hero-desktop.jpg);
    }
    .container .left {
        width: 100%;
        height: 100vh;
        padding-top: 28vh;
        text-align: left;
        padding-left: 10%;
        background-image: url(./images/bg-pattern-desktop.svg);
        background-position: center;
        background-size: cover;
    }
    .container .left h1{
        font-size: 5rem;
        line-height: 5.5rem;
    }
    .container .left p{
        margin-left: 0;
        font-size: 1.1rem;
    }
    .container form{
        margin-left: 0;
    }
    .container form button{
        width: 80px;
    }
    
}